*.pyc
*~
*.so
/.idea
/eqtools/\#TCVLIUQE.py\#
/build/temp.macosx-10.5-x86_64-2.7
/build/src.macosx-10.7-x86_64-2.7
/build/lib.macosx-10.5-x86_64-2.7
/build/temp.macosx-10.7-x86_64-3.6
/build/temp.macosx-10.6-x86_64-2.7
/build/lib.macosx-10.7-x86_64-3.6
/build/src.macosx-10.6-x86_64-2.7
/build/temp.macosx-10.7-x86_64-2.7
/build/src.macosx-10.7-x86_64-3.6
/build/src.macosx-10.5-x86_64-2.7
